<!DOCTYPE html>
<html>
<head>
	<title>SearchEngine</title>
</head>
<body>
	<form action="/search" method="get">
		<h1>Pesquisar Site</h1>
		<input type="text" name="search" />
		<input type="submit" value="Pesquisar">
	</form>
	<form action="/newsite" method="post">
		<h1>Cadastrar Site</h1>
		<input type="text" name="site" />
		<input type="submit" value="cadastrar">
	</form>
	<br>
	Sites Cadastrados
	<ul>
		{% for site in sites %}
		<li>{{site['url']}}</li>
		{% endfor %}
	</ul>
</body>
</html>